<table>
  <tr><td>Display</td><td>8" multi-touch capacitive, resolution 1280x768 pixels</td></tr>
  <tr class="even"><td>Processor</td><td>AML8726</td></tr>
  <tr><td>Memory</td><td>1GB (RAM), 8GB (ROM) </td></tr>
  <tr class="even"><td>Expansion slot</td><td>micro SD/SDHC (až 32 GB)</td></tr>
  <tr><td>WiFi</td><td>802.11 b/g/n</td></tr>
  <tr class="even"><td>Bluetooth</td><td>2.1 EDR</td></tr>
  <tr><td>USB</td><td>micro USB</td></tr>
  <tr class="even"><td>Camera</td><td>0.3 (front) /2.0 (back) Mega pixel</td></tr>
  <tr><td>Operating system</td><td>Google Android 4.0 (Ice Cream Sandwich)</td></tr>
  <tr class="even"><td>Audio output</td><td>3.5 mm stereo jack</td></tr>
  <tr><td>Gyro sensor</td><td>yes</td></tr>
  <tr class="even"><td>Battery</td><td>Lithium, 5000 mAh</td></tr>
  <tr><td>Other</td><td>Integrated microphone and stereo speakers, micro HDMI connector (allows you to view images on an external device – TV or LCD display)</td></tr>
  <tr class="even"><td>Dimensions</td><td>213 x 138 x 10 mm</td></tr>
  <tr><td>Weight</td><td>465g</td></tr>
  <tr class="even"><td>Package contents</td><td>USB cable<br />USB adapter (for connecting USB flash memory, etc.)<br />Power adapter 230V/td></tr>
</table>