<table>
  <tr><td>Displej</td><td>8" multi-dotykový kapacitní, rozlišení 1280x768</td></tr>
  <tr class="even"><td>Procesor</td><td>AML8726</td></tr>
  <tr><td>Paměť</td><td>1GB (RAM), 8GB (ROM) </td></tr>
  <tr class="even"><td>Rozšiřující slot</td><td>micro SD/SDHC (až 32 GB)</td></tr>
  <tr><td>WiFi</td><td>802.11 b/g/n</td></tr>
  <tr class="even"><td>Bluetooth</td><td>2.1 EDR</td></tr>
  <tr><td>USB</td><td>micro USB</td></tr>
  <tr class="even"><td>Kamera</td><td>0.3 (přední) /2.0 (zadní) Mega pixel</td></tr>
  <tr><td>Operační systém</td><td>Google Android 4.0 (Ice Cream Sandwich)</td></tr>
  <tr class="even"><td>Audio výstup</td><td>3,5 mm sluchátkový jack, stereo reproduktory</td></tr>
  <tr><td>Gyro sensor</td><td>ano</td></tr>
  <tr class="even"><td>Baterie</td><td>Lithium, 5000 mAh</td></tr>
  <tr><td>Ostatní</td><td>integrovaný mikrofon a reproduktory, napájecí zdroj, micro HDMI konektor (umožňuje přehrávat obraz na externím zařízení – TV, LCD displeji…)</td></tr>
  <tr class="even"><td>Rozměry</td><td>213 x 138 x 10 mm</td></tr>
  <tr><td>Hmotnost</td><td>465g</td></tr>
  <tr class="even"><td>Obsah balení</td><td>USB kabel<br />USB redukce (pro připojení USB flash paměti a další)<br />Napájecí adaptér 230V</td></tr>
</table>