<% provide :title, t(:HEADER_SPECIFICATION) %>
<h1><%= t :HEADER_SPECIFICATION %></h1>

<p>Tablet E8 s operačním systémem Google Android 4.0 (Ice Cream Sandwich) vyniká svým elegantním designem – černou barvou, zadní strana je z pogumovaného materiálu zabraňující vyklouznutí z rukou, tenké provedení - pouze 10 mm.</p>

<p>8“ multi-dotykový kapacitní displej s excelentním rozlišením 1280x768. Kapacita paměti je 8GB a díky paměťovému slotu jí je možné rozšířit až o 32GB. Připojení k internetu zajišťuje WiFi 802.11 b/g/n. Navíc máte k dispozici i  Bluetooth. Periferie tabletu jsou USB, HDMI a 3,5 mm stereo jack. USB slouží pro připojení k PC, nabíjení tabletu, nebo pro připojení USB flash paměti, myši nebo dalších USB zařízení prostřednictvím redukce, která je součástí dodávky. HDMI konektor umožňuje přehrávat obraz na externím zařízení – TV nebo LCD displeji. Tablet je vybaven dvěma kamerami – přední, kterou můžete využít například pro Skype video hovory, a zadní pro pořizování fotografií a videí. Pro dobrý zvuk jsou na zadní straně umístěny stereo reproduktory.</p>

<p>Tablet E8 vám umožní sledovat filmy (včetně flash videí z internetu), přehrávat hudbu a hrát oblíbené hry. Jsou k dispozici aplikace – internetový prohlížeč, mailový klient, kalendář, hodiny, fotoaparát, galerii obrázků a další. Navíc můžete další programy stahovat zdarma nebo nakupovat na Google Play.</p>